---
layout: page
---

{% capture site_tags %}{% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign tag_words = site_tags | split:',' | sort %}

<!-- cycles through tag list and creates subheader for each tag name -->
{% for item in (0..site.tags.size) %}
  {% unless forloop.last %}
    {% capture this_word %}{{ tag_words[item] | strip_newlines }}{% endcapture %}
    <h2 id="{{ this_word | cgi_escape }}" class="tag-title">
      #{{ this_word }}
      
      <script type="text/javascript">
        try {
                if(xyz){
                      //check if the tag already exist in the, if exist increase the weight counter
                      // console.log
                      xyz.push({"{{ this_word }}"})
                    }  
                    else{
                      var xyz = [{"{{ this_word }}"}]
                    }
            }
            catch(err) {
                document.getElementById("demo").innerHTML = err.message;
            }
      </script>
   

    </h2>
    <!-- lists all posts corresponding to specific tag -->
    {% for post in site.tags[this_word] %}
      {% if post.title != null %}
        <div class="tagged-post">
          <h3 class="title">
            <a href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          </h3>
          <div class="meta">
            {{ post.date | date: "%B %-d, %Y" }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endunless %}
{% endfor %}



<style>
.bs-example {
  background:#f5f5f5 !important;
}
#demo {
  margin:0 auto;
  width:80%;
  max-width:600px;
  height:250px;
}
#demo span {
  text-shadow: 0px 1px 1px #fff;
}
</style>

<div class="bs-example">
    <div id="demo"></div>
</div>
<h1> hello world </h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" href="http://mistic100.github.io/jQCloud/dist/jqcloud2/dist/jqcloud.min.css">
<script src="http://mistic100.github.io/jQCloud/dist/jqcloud2/dist/jqcloud.min.js"></script>
<script src="http://mistic100.github.io/jQCloud/dist/demo-words.js"></script>

<script type="text/javascript">
  var words = [
  {text: "Lorem", weight: 13},
  {text: "Ipsum", weight: 10.5},
  {text: "Dolor", weight: 9.4},
  {text: "Sit", weight: 8},
  {text: "Amet", weight: 6.2},
  {text: "Consectetur", weight: 5},
  {text: "Adipiscing", weight: 5},
  /* ... */
];
// $('#demo').jQCloud(words);
</script>

<script>
  console.log(xyz);
  // loop through the xyz array and recalculate the weight of the item 
  // var renderList = [];
  // for (i in xyz) {
  //   console.log(i, xyz[i]);
  //   renderList.push();
  // }
    
  // $('#demo').jQCloud(xyz, {
  //   autoResize: true,
  //   fontSize: {
  //     max: 0.1,
  //     min: 0.02
  //   }
  // });
</script>

